/* Asterisk wildcard selector to override default styles added by the browser */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -- body -- */

body {
    display: flex;
    height: 100vh;
}

/* Main content styling */

main {
    flex: 1 0 auto;
    overflow: hidden;
}

/* -- header -- */

header {
    display: flex;
    align-items: center;
    background-color: rgb(220, 202, 42);
    background: url("../images/memory_bkg_51120_500.webp") no-repeat center center/cover;
    height: 10vh;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    justify-content: center;
}

.title h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px rgba(21, 21, 21, .2);
}

.header>h1 {
    background-color: aliceblue;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 9px 0 rgba(11, 11, 21, .2);
}

.navbar {
    display: flex;
    background: url("../images/memory_headings_bkg.webp") no-repeat center center/cover;
    padding: 2.5vh;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

#reset-button,
#countdown-timer,
#shuffle-start-button {
    font-family: "Rubik", sans-serif;
    font-size: large;
    padding: 10px;
    border-radius: 6px;
    color: black;
    background-color: rgb(220, 202, 42);
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    text-transform: uppercase;
    width: auto;
    margin: 10px;
}

#reset-button:hover,
#shuffle-start-button:hover {
    transform: scale(1.10);
}

#countdown-timer {
    width: 120px;

}

#timer-div {
    display: flex;
    flex-wrap: wrap;
}

/* -- modal with game info -- */

#modal {
    display: none;
    position: absolute;
    left: 48%;
    top: 50%;
    width: 55vh;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 6px;
    background-color: #0d4754;
    font-size: large;
    border-radius: 6px;
    z-index: 95;
    padding: 2vh;
    text-transform: uppercase;
}

#modal>h2,
p {
    color: white;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
}

#modal-trigger {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#overlay {
    display: none;
    position: absolute;
    align-content: center;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-image: url("../images/modal_overlay_bkg_desert.webp");
    /*background-color: #0d4754;*/
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
    border: 10px;
    z-index: 94;
    opacity: 0.9;
}

#open-modal-btn {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    font-family: "Rubik", sans-serif;
    font-size: large;
    border: 2px solid #0d4754;
    background-color: rgb(220, 202, 42);
}

#open-modal-btn>h2 {
    background-color: aliceblue;
    border: 2px solid rgb(82, 21, 152);
}

#open-modal-btn:hover {
    transform: scale(1.10);
}

#close-modal-btn {
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    border: 2px solid rgb(82, 21, 152);
}

#close-modal-btn:hover {
    transform: scale(1.20);
}

/* Additonal Game Over Modal */

#gameOverModal {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vh;
    height: 500px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-image: url("../images/GameOverModal_bkg.webp");
    background-repeat: no-repeat;
    background-position: center;
    font-size: large;
    border-radius: 6px;
    z-index: 70;
    padding: 2vh;
}

.game-over-content {
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    color: rgb(82, 21, 152);
    text-align: center;
    text-transform: uppercase;

}

.game-over-content>h2,
p {
    background-color: azure;
    color: #000000;
    font: bold;
    padding: 10px;
    border: 2px solid #000000;
}

#restartButton {
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    border: 2px solid rgb(82, 21, 152);
    text-transform: uppercase;
    font: bold;
}


/* -- game area -- */

.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    background: rgb(220, 202, 42);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    background: url("../images/memory_bkg_small.webp") no-repeat center/cover;
}

.gameboard h3 {
    font-family: "Rubik", sans-serif;
    font-size: large;
    padding: 10px;
    border-radius: 6px;
    color: black;
    background-color: rgb(220, 202, 42);
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    text-transform: uppercase;
    width: auto;
    left: auto;
    right: auto;
    margin: 10px;
    font-size: 30px;
}

#gameboard-heading {
    justify-content: center;
    height: auto;
    padding: 10px;
    border-radius: 6px;
    font-family: "Rubik", sans-serif;
    font-size: large;
    background-color: aliceblue;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    text-transform: uppercase;
    width: auto;
    margin: 75px;
}


/* Cards --*/

.card-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    border-radius: 10px;
    width: auto;
}

.cards-ul-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    cursor: pointer;
    perspective: 1000px;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card {
    height: 124px;
    width: 90px;
    background-color: azure;
    background-image: url("../images/card_bkg_yellow_blue.webp");
    background-position-x: center;
    background-position-y: -0.2vh;
    background-size: 96%;
    border-radius: 6px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
    box-shadow: 0 7px 9px 0 rgba(21, 21, 21, .2);
}

.card img {
    width: 98%;
    max-height: 120px;
    transition: 0.3s all ease;
    opacity: 0;
    padding: 3px 3px 3px 3px;
}

.card:hover {
    transform: scale(1.05);
}

.card.clicked {
    background-color: rgb(0, 0, 0);
    background-image: none;
    pointer-events: none;
}

.card.checked {
    background-color: rgb(32, 128, 23);
    background-image: none;
}

.card.clicked img,
.card.checked img {
    opacity: 1;
}

.card.shake {
    background-color: rgb(156, 17, 17);
    animation: shake 0.5s;
}

/* -- shake values are copied from instructive video
by Youtube channel Code Grind ('https: //www.youtube.com/watch?v=B6aJpbX_IZU')-- */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* -- footer -- */

footer {
    display: flex;
    padding: 15px;
    text-align: center;
    background-color: rgb(82, 21, 152);
    background: url("../images/footer_bkg_memory.webp") no-repeat center center/cover;

}

footer h4 {
    color: black;
}

#footer-info {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    background-color: aliceblue;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 6px;
    padding: 13px 20px;
    line-height: 22px;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
    font-size: large;
    font-family: "Rubik", sans-serif;
    align-items: start;
}

/* Media query - tablets and larger devices (max 400px) */
@media (max-width:400px) {

    body {
        display: flex;
        height: auto;
        overflow-x: hidden;
    }


    .header>h1 {
        box-sizing: border-box;
    }

    .cards-ul-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 2em;
        cursor: pointer;
        perspective: 1000px;
        height: calc(100% / 4 - 10px);
        width: auto;
        justify-content: center;
    }

    .navbar {
        display: flex;
        background: url("../images/memory_headings_bkg.webp") no-repeat center center/cover;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #reset-button,
    #countdown-timer,
    #shuffle-start-button {
        width: auto;
        margin: 5px;
        font-size: 20px;
    }

    .card {
        height: 17vh;
        width: 12vh;
    }

    .card-wrapper {
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        width: auto;
    }

    .gameboard {
        margin-top: auto;
        margin-bottom: auto;
        height: auto;
        width: auto;
    }

}

/* Media query - tablets and larger devices (max 900px) */
@media (max-width:900px) {

    body {
        display: flex;
        height: auto;
        overflow-x: hidden;
    }

    .header>h1 {
        box-sizing: border-box;
    }

    #timer-div {
        display: flex;
        justify-content: space-evenly;
    }
}