/* Asterisk wildcard selector to override default styles added by the browser */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    margin-left: 0;
    margin-right: 0;
}

main {
    flex: 1 0 auto;
    overflow: hidden;
}

/* -- header -- */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 202, 42);
    font-size: large;
    height: 100px;
    font-family: "Rubik mono", sans-serif;
    width: auto;
}

.title h1 {
    color: aliceblue;
    font-size: 3em;
    text-shadow: 2px 2px rgba(21, 21, 21, .2);
}

.header>h1 {
    background-color: aliceblue;
    color: rgb(82, 21, 152);
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 9px 0 rgba(11, 11, 21, .2);
}

/* -- modal with game info -- */

#modal {
    display: none;
    position: absolute;
    align-content: center;
    top: 50%;
    left: 50%;
    height: 400px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(82, 21, 152);
    padding: 1rem;
    border-radius: 6px;
    background-color: rgb(220, 202, 42);
    font-size: large;
    padding: 10px;
    border-radius: 6px;
    z-index: 3;
}

#overlay {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: rgb(192, 175, 207);
    border-radius: 6px;
    opacity: 75%;
    border: 2px solid rgb(82, 21, 152);
    z-index: 2;
}

#start-the-game-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    border-radius: 6px;
    background-color: rgb(220, 202, 42);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rubik mono", sans-serif;
}

#open-modal-btn {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    font-family: "Rubik", sans-serif;
    font-size: large;
    border: 2px solid rgb(82, 21, 152);
    background-color: aliceblue;
}

#open-modal-btn>h2 {
    background-color: aliceblue;
    border: 2px solid rgb(82, 21, 152);
}

#open-modal-btn:hover {
    transform: scale(1.10);
}

#close-modal-btn {
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    font-family: "Rubik", sans-serif;
    font-size: large;
    border: 2px solid rgb(82, 21, 152);
}

#close-modal-btn:hover {
    transform: scale(1.20);
}

/* -- game area -- */

.gameboard {
    display: flex;
    padding: 0 4px;
    background: rgb(220, 202, 42);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

#gameboard-heading {
    justify-content: space-around;
    height: auto;
    padding: 10px;
    border-radius: 6px;
    font-family: "Rubik", sans-serif;
    font-size: large;
    background-color: aliceblue;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    text-transform: uppercase;
    width: auto;
    margin: 75px;
}


/* test with grid container --*/

.card-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    background-image: url("../images/bkg_green.jpg");
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: auto;
}

.cards-ul-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    cursor: pointer;
    perspective: 1000px;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card {
    height: 120px;
    width: 90px;
    /*background-color: azure;*/
    background-image: url("../images/BACK.webp");
    background-position-x: center;
    background-position-y: -0.3vh;
    background-size: 96%;
    border-radius: 6px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
    box-shadow: 0 7px 9px 0 rgba(21, 21, 21, .2);
}

.card img {
    width: 98%;
    max-height: 119px;
    transition: 0.3s all ease;
    opacity: 0;
    padding: 3px 3px 3px 3px;
}

.card:hover {
    transform: scale(1.05);
}

.card.clicked {
    background-color: rgb(0, 0, 0);
    background-image: none;
    pointer-events: none;
}

.card.checked {
    background-color: rgb(32, 128, 23);
    background-image: none;
}

.card.clicked img,
.card.checked img {
    opacity: 1;
}

.card.shake {
    background-color: rgb(156, 17, 17);
    animation: shake 0.5s;
}

/* -- shake values are copied from instructive video
by Youtube channel Code Grind ('https: //www.youtube.com/watch?v=B6aJpbX_IZU')-- */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* -- game score and reset section -- */

#reset-button,
#sshuffle-start-button,
#countdown-timer {
    font-family: "Rubik", sans-serif;
    font-size: large;
    padding: 10px;
    border-radius: 6px;
    background-color: aliceblue;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    text-transform: uppercase;
    width: auto;
    margin: 10px;
}

#reset-button:hover,
#shuffle-start-button:hover {
    transform: scale(1.10);
}

#shuffle-start-button {
    font-size: large;
    border-radius: 6px;
    background-color: aliceblue;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    width: auto;
    padding: 10px;
    align-content: center;
    margin: 10px;
    text-transform: uppercase;
}

#countdown-timer {
    font-size: large;
    border-radius: 6px;
    background-color: aliceblue;
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    width: 120px;
    align-content: center;
}

#timer-div {
    display: flex;
    flex-wrap: wrap;
}

.button-styles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(82, 21, 152);
    box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    text-transform: uppercase;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-size: large;
}


/* -- footer -- */

footer {
    display: flex;
    padding: 15px;
    text-align: center;
    background-color: rgb(82, 21, 152);

}

footer h4 {
    color: black;
}

#footer-info {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    background-color: aliceblue;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 6px;
    padding: 13px 20px;
    line-height: 22px;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
    font-size: large;
    font-family: "Rubik", sans-serif;
    align-items: start;
}

/* Media query - tablets and larger devices (max 400px) */
@media (max-width:400px) {

    .header>h1 {
        box-sizing: border-box;
    }

    .cards-ul-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 2em;
        cursor: pointer;
        perspective: 1000px;
        height: calc(100% / 4 - 10px);
        width: auto;
        justify-content: center;
    }


    #reset-button,
    #shuffle-start-button {
        width: auto;
        padding: 10px;
        border-radius: 6px;
        background-color: aliceblue;
        box-shadow: 0 2px 9px 0 rgba(21, 21, 21, .2);
    }

    .button-styles {
        justify-content: space-around;
        align-items: center;
    }

    .card {
        height: 17vh;
        width: 12vh;
    }

    .card-wrapper {
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        width: auto;
    }

    .gameboard {
        margin-top: auto;
        margin-bottom: auto;
        height: auto;
        width: auto;
    }

    .button-styles {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;

    }
}

/* Media query - tablets and larger devices (max 900px) */
@media (max-width:900px) {
    .header>h1 {
        box-sizing: border-box;
    }

    .button-styles {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2vh;
        padding-top: 2vh;
    }

    #timer-div {
        display: flex;
        justify-content: space-evenly;
    }
}